$green = #4ACC81
$yellow = #F8CA50
$blue = #04AEC6
$bgreen = #07FFE1
$red = #F96962
$white = #fff
$lgreen = #c3edd7
bigtitle()
  font-size: 34px
  line-height: 35px
smalltitle()
  font-size: 18px
  font-weight: 600
greennum()
  font-size: 20px
  font-weight: 600
  color: $green